html{
    background-color: rgba(189, 50, 106, 0.599);
}
 
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 4rem;
    line-height: 0.;
}

h2{
    font-size: 2rem;
    line-height: 0.3;
}

